body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #FFC600;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #FFC600;
  font-weight: normal;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #EDEEF7
}
a{
  color: #7868E6;
}
.Discord{
  position: relative;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  display: inline-block;
  padding-top: 1.875rem;
}
.top-container{
  background-color: #EDEEF7;
  position: relative;
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}
.middle-container{
  background-color: #7868E6;
}
.bottom-container{
  height: 8.75rem;
  position: relative;
  background-color: #E4FBFF;
}
.bottom-cloud{
  position: absolute;
  left: 16.875rem;
  bottom: 18.75rem;
  width:1.16rem;
}
.top-cloud{
  position: absolute;
  right: 25rem;
  top: 18.75rem;
  width: 4.375rem;
}
.Olafs-photo{
  height: 8.125rem;
  width: 8.125rem;
  padding-top: 60px;
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.Skills-picture1 {
  width: 15%;
  float: left;
  padding-right: 30px;
}
.Skills-picture2 {
  width: 15%;
  float: right;
  padding-left: 30px;
}
hr {
  border-style: dotted;
  width: 4%;
  height: 5%;
  border-width: 0.5rem 0 0 0;
  color: #E4FBFF;
  margin-top: 40px;
  margin-bottom: 40px;
}
.contact-me{
  padding-bottom: 50px;
}
.btn{
  display: inline-block;
  padding-top: 20px;
  color: #EDEEF7;
}
p{
  color: white;
}
.copyright{
  color: #7868E6;
}
